<div class='teardropMain {{position}}' id='tear{{id}}' style='{{styleMain}}'>
  <div id='indic{{id}}' class='{{position}} teardropDynamic' style="{{styleDynamic}}"></div>
  <div class='indicText {{textPosition}}' id='indicText{{id}}'>
    <b>{{Title}}</b><br><br>
    average <p class='avg{{id}} inline'>--</p><br>
    target <p class='{{shortTitle}}Pref inline'>--</p>
  </div>
</div>