<!DOCTYPE HTML>
<html>

{{>head}}

<body>
  <div id='hexagons'>
    <div id='hex-text'></div>
    {{#each sensors}}
      <div id='hex{{id}}' class='hexagon {{class}}' data-toggle="modal" data-target="#modal{{id}}"><span></span>
        <img id='img{{id}}' class='hex-img' src='{{img}}'/>
      </div>
      {{>modal-stream}}
    {{/each}}
    <a href='https://github.com/rweinberger/beesearch' target='_blank'>
      <div id='hex4' class='hexagon four'><span></span><img class='hex-img' src='/images/github.png'/></div>
    </a>
    <div id='hex5' class='hexagon five'><span></span><img class='hex-img' src='/images/help.png'/></div>
  </div>

</body>
<script src="/scripts/hex-fade.js"></script>
<script src='/scripts/modal-result.js'></script>
</html>