<!DOCTYPE HTML>
<html>

{{>head}}

<body>
  <div id='hexagons'>
  {{#each sensors}}
    <div id='hex{{id}}' class='hexagon {{class}}' data-toggle="modal" data-target="#modal{{id}}">
      <img id='img{{id}}' class='hex-img' src='{{img}}'/>
      <p id='text{{id}}' class='hex-text'>{{title}}</p>
    </div>
    {{>modal}}
  {{/each}}
  </div>

</body>
<script src="/scripts/hex-fade.js"></script>
</html>
